body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

A:link {color:#444444; text-decoration: none}
A:visited {color:#444444; text-decoration: none}
A:hover {color:#FF0000; text-decoration: underline}
A.m:link {color:#444444; text-decoration: none; font-weight:bold;}
A.m:visited {color:#444444; text-decoration: none; font-weight:bold;}
A.m:hover {color:#FF0000; text-decoration: underline; font-weight:bold;}
.JF {font-family: Verdana; font-size:10pt; color:#000000;}
.JT {font-family: Verdana; font-size:10pt; color:#000000; font-weight:bold;}
.JL {font-family: Verdana; font-size:20pt; color:#000000; font-weight:bold;}
.JS {font-family: Verdana; font-size:8pt; color:#999999;}
.JO {font-family: Verdana; font-size:8pt; color:#4175FE;}